* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

h1 , h2 , h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0px;
}

#navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: inline-block;
    padding: 25px;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background-color: #444;
    color: #f7c08a;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.myform {
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.9);
    border-radius: 20px;
    padding: 20px;
    background-color: lightgray;
    margin-top: 200px;
}

.myform input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,.9);
    border-radius: 20px;
}

.myform textarea {
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,.9);
    border-radius: 10px;
    margin-bottom: 20px;
}

.submit {
    background-color: royalblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.submit:hover {
    background-color: #fff;
    color: royalblue;
    cursor: pointer;
}

.reset {
    background-color: royalblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.reset:hover {
    background-color: #fff;
    color: royalblue;
    cursor: pointer;
}

body {
    background-image: url(../pictures/pexels-pixabay-269063.jpg);
}










