* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    font-family: 'Dancing Script', cursive;
}

a {
    color: #333;
    text-decoration: none;
}

h1 , h2 , h3 {
    bottom: 20px;
}

p {
    margin: 10px 0;
}

#navbar {
    font-family: sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 16px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;    
}

#navbar ul li a {
    display: inline-block;
    padding: 20px;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background-color: #444;
    color: #f7c08a;
    
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.text-primary {
    color: #f7c08a;
}

.bg-light {
    background-color: aliceblue;
}

.bg-primary {
    background-color: #f7c08a;
    color: black;
}

.showcase {
    padding-top: 70px;
    background-image: url(pictures/pexels-fwstudio-132200.jpg);
    height: 100vh;
    background-size: cover;
    font-size: 20px;
}

.showcase h1 , .showcase h2 {
    text-align: center;
}

.img-1 {
    height: 500px;
    margin-left: 600px;
    width: 300px;
}

.img-2 {
    margin-top: 100px;
    height: 500px;
    width: 500px;
    margin-left: 600px;
}

.showcase-2 {
    background-image: url(pictures/pexels-pixabay-269063.jpg);
    height: 100vh;
}

.showcase-2 h2 {
    color: white;
    text-align: center;
}

.btn {
    background-color: #333;
    color: #fff;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn:hover {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}


























